/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    box-sizing: border-box;
}

body {
    background-color: #1D1F21;
    color: #E6E6E6;
}

.content {
    margin: 200px auto 0;
    width: 100%;
    padding: 0;
    //2 movies
    max-width: 384px;
    //3 movies
    @media screen and (min-width: 592px) {
        max-width: 576px;
    }
    //4 movies
    @media screen and (min-width: 784px) {
        max-width: 768px;
    }
    
    //5 movies
    @media screen and (min-width: 976px) {
        max-width: 960px;
    }
    
    //6 movies
    @media screen and (min-width: 1168px) {
        max-width: 1152px;
    }
    
    //7 movies
    @media screen and (min-width: 1360px) {
        max-width: 1344px;
    }
    
    //8 movies
    @media screen and (min-width: 1552px) {
        max-width: 1536px;
    }
}

.header {
    position: absolute;
    top: 0;
    background-color: #282A2D;
    border-bottom: 1px solid #C1C684;
    width: 100%;
    /*border-bottom: 8px solid #A6A8A7;*/
    /*border-bottom-left-radius: 20px;*/
    /*border-bottom-right-radius: 20px;*/
}

.header h1 {
    color: #C1C684;
    font-family: 'Bevan', cursive;
    font-size: 3rem;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    letter-spacing: 3px;
}

.content {
    /*background: linear-gradient(#3C3F43, rgba(0,0,0,0));*/
    /*border-top: 3px solid #282A2D;*/
    /*border-radius: 10px;*/
    /*width: 80%;*/
    /*border-left: 5px solid #A6A8A7;*/
    /*font-family: */
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        line-height: 1.2;
    }
    
    p {
        font-family: 'Roboto', sans-serif;
    }

}

@media (min-width: 850px) {
    
    .header h1 {
        font-size: 3.5rem;
    }
}